@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700,900&display=swap');

@font-face {
  font-family: 'San Francisco Pro Display Thin';
  src: url('./fonts/SFProDisplay-Thin.eot');
  src: url('./fonts/SFProDisplay-Thin.eot?#iefix') format('embedded-opentype'),
  url('./fonts/SFProDisplay-Thin.woff') format('woff'),
  url('./fonts/SFProDisplay-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Pro Display Light';
  src: url('./fonts/SFProDisplay-Light.eot');
  src: url('./fonts/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
  url('./fonts/SFProDisplay-Light.woff') format('woff'),
  url('./fonts/SFProDisplay-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Pro Display Regular';
  src: url('./fonts/SFProDisplay-Regular.eot');
  src: url('./fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('./fonts/SFProDisplay-Regular.woff') format('woff'),
  url('./fonts/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Pro Display Medium';
  src: url('./fonts/SFProDisplay-Medium.eot');
  src: url('./fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
  url('./fonts/SFProDisplay-Medium.woff') format('woff'),
  url('./fonts/SFProDisplay-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Pro Display Semibold';
  src: url('./fonts/SFProDisplay-Semibold.eot');
  src: url('./fonts/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
  url('./fonts/SFProDisplay-Semibold.woff') format('woff'),
  url('./fonts/SFProDisplay-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Pro Display Bold';
  src: url('./fonts/SFProDisplay-Bold.eot');
  src: url('./fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
  url('./fonts/SFProDisplay-Bold.woff') format('woff'),
  url('./fonts/SFProDisplay-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Pro Display Black';
  src: url('./fonts/SFProDisplay-Black.eot');
  src: local('./fonts/SF Pro Display Black'), local('SFProDisplay-Black'),
  url('./fonts/SFProDisplay-Black.eot?#iefix') format('embedded-opentype'),
  url('./fonts/SFProDisplay-Black.woff2') format('woff2'),
  url('./fonts/SFProDisplay-Black.woff') format('woff'),
  url('./fonts/SFProDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}