@media all and(max-width: 1279px) {
  .wrapper {
    header.header {
      .headerInnerWrap {
        .leftSide {
          .cellPhoneBlock {
            margin-left: 20px;
          }
        }

        .rightSide {
          > ul {
            li + li {
              a {
                margin-left: 12px;
              }
            }
          }
        }
      }
    }

    section.mainSection {
      .swiper-container {
        .swiper-buttons-wrap {
          left: 100px;
        }

        .swiper-pagination {
          right: 20px;
        }
      }
    }

    section.popularProductsSection {
      .cardsRow {
        .card {
          &:last-child {
            display: none;
          }

          max-width: calc((100% - 60px) / 4);
        }
      }
    }
  }
}

@media all and(max-width: 1023px) {
  .h1 {
    font-size: 24px;
    line-height: 29px;
  }
  .h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .wrapper {
    &.whiteHeader {
      header.header {
        top: 0;
      }
    }

    header.header {
      .headerInnerWrap {
        .leftSide {
          .cellPhoneBlock {
            display: none;
          }
        }

        .rightSide {
          .selectWrapper, ul {
            display: none;
          }
        }
      }
    }

    section.mainSection {
      height: 420px;

      .swiper-container {
        .swiper-wrapper {
          .swiper-slide {
            .slideContent {
              .slideTitle {
                margin-bottom: 8px;
              }
            }
          }
        }
      }
    }

    section.popularProductsSection {
      margin: 64px 0;

      .forMobileSwiperWrap {
        width: 100%;
        overflow: visible;
      }

      .cardsRow {
        .card {
          max-width: 100%;

          .cardHead {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 20px;

            .cardPic, .cardName {
              max-width: calc((100% - 20px) / 2);
              width: 100%;
              padding: 0;
            }

            .cardName {
              margin-left: 20px;
              line-height: 18px;
            }
          }

          .cardInfo {
            padding: 20px;
            padding-top: 0;

            .productInfoRows {
              border-top: 1px solid $mainBorderColor;
              padding-top: 20px;
            }
          }

          & + .card {
            margin: 0;
          }
        }
      }
    }

    section.partnersSection {
      margin-bottom: 64px;
    }

    section.categoriesSection, section.aboutUsSection {
      margin-bottom: 80px;
    }

    section.ourPreferencesSection {
      margin-bottom: 70px;

      .titleWrap {
        margin-bottom: 30px;
      }
    }

    section.reviewsSection {
      padding-bottom: 64px;

      .leftSide {
        padding: 0 40px 0 0;
      }
    }

    footer.footer {
      .footerInnerRow {
        ul {
          li {
            display: none;

            &:first-child {
              display: block;
            }
          }
        }
      }
    }
  }
}